//reset
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
//Importación de las variables
@import "utilities/variables";

//Caracteristias de imágen central
.bud{
display: flex;
flex-direction: row;
flex-flow: row wrap;
justify-content: center;
}
body{
background-color: $color-background;
font-family: $fuente-familia;
}
//Nesting en Titulo de la página
header{
background-color: transparent;
text-align: center;
}
h1{
    color: $color-head;
    text-shadow: $sombra-texto;
    text-align: center;
    }
    /* estilos de la Menu */
.navbar.navbar-expand-lg.bg-light{
padding: 10px;
position: absolute;
left: 50%;
transform: translatex(-50%);
border-radius: 2rem;
text-shadow: $sombra-texto;
z-index: 1;
    }

.cuerpo{
    height: 3vh;
    text-shadow: $sombra-texto-dos;
    color: $color-text;
    font-size: 50px;
.producto{
background-image: url(../img/producto.jpg);
background-repeat: no-repeat;
background-position: left;
background-size: cover;
margin: 2px 0px 2px 0px;
padding: 90px;
border: $borde-cuadro;
}
.producto:hover{
border-radius: 20%;
}
.producto_uno{
background-image: url(../img/producto_uno.jpg);
background-repeat: no-repeat;
background-position: left;
background-size: cover;
margin: 2px 0px 2px 0px;
padding: 90px;
border: $borde-cuadro;
}
.producto_uno:hover{
border-radius: 20%;
} 
.producto_dos{
background-image: url(../img/producto_dos.jpg);
background-repeat: no-repeat;
background-position: left;
background-size: cover;
margin: 2px 0px 2px 0px;
padding: 90px;
border: $borde-cuadro;
}
.producto_dos:hover{
border-radius: 20%;
} 
.producto_tres{
background-image: url(../img/producto_tres.jpg);
background-repeat: no-repeat;
background-position: left;
background-size: cover;
margin: 2px 0px 2px 0px;
padding: 90px;
border: $borde-cuadro;
}
.producto_tres:hover{
border-radius: 20%;
}
}

.footer{
padding-top: 10px;
padding-bottom: 10px; 
text-align: center;
text-shadow: $sombra-texto-dos; 
color: $color-head; 
    .derechos{
    font-size: medium;
    }
    .derechos2{
    font-size: x-small;
    }
    }

/*Media queries*/
@media screen and (min-width:600px) {
.cuerpo{
    height: 200vh;
    display: grid;
    grid-template-areas: "producto producto_uno" 
                          "producto_dos producto_tres"
                          "footer footer";
    column-gap: 5px;
    justify-content: center; 
    justify-items: center;
}
}
.p_uno{
    grid-area: p_uno;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p_dos{
    grid-area: p_dos;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p_tres{
    grid-area: p_tres;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja_uno{
    grid-area: caja_uno;
}
.caja_dos{
    grid-area: caja_dos;
}
.caja_tres{
    grid-area: caja_tres;
}
.producto{
    grid-area: producto;
}
.producto_uno{
    grid-area: producto_uno;
}
.producto_dos{
    grid-area: producto_dos;
}
.producto_tres{
    grid-area: producto_tres;
}
.footer{
    grid-area: footer;
}

@media screen and (min-width:1024px) {
    .cuerpo{
        height: 70vh;
        display: grid;
        grid-template-areas: "producto producto_uno producto_dos producto_tres" 
                              "footer footer footer footer";
        column-gap: 3px;
        justify-content: center; 
        justify-items: center;
    }
    }
.p_uno{
    grid-area: p_uno;
    }
.p_dos{
    grid-area: p_dos;
    }
.p_tres{
    grid-area: p_tres;
    }
.caja_uno{
    grid-area: caja_uno;
    }
.caja_dos{
    grid-area: caja_dos;
}
.caja_tres{
    grid-area: caja_tres;
}
.producto{
    grid-area: producto;
}
.producto_uno{
    grid-area: producto_uno;
}
.producto_dos{
    grid-area: producto_dos;
}
.producto_tres{
    grid-area: producto_tres;
}
.footer{
    grid-area: footer;
    }
