//reset
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-align: center
}
//Importación de las variables
@import "utilities/variables";

//Caracteristias de imágen central
.bud{
display: flex;
flex-direction: row;
flex-flow: row wrap;
justify-content: center;
}
body{
background-color: $color-background;
font-family: $fuente-familia;
}
header{
    background-color: transparent;
    text-align: center;
    }
h1{
color: $color-head;
text-shadow: $sombra-texto;
}
//Estilos de la Menu Hamburguesa Boostrap
.navbar.navbar-expand-lg.bg-light{
padding: 10px;
position: absolute;
left: 50%;
transform: translatex(-50%);
border-radius: 2rem;
text-shadow: $sombra-texto;
z-index: 1;
}
// Estilos de los textos de los cuadors de inofrmación
.cuerpo{
text-align: center;
text-shadow: $sombra-texto;
.p_uno{
background-color: $color-cuadro1;
}
.p_dos{
background-color: $color-cuadro2;
}
.p_tres{
background-color: $color-cuadro1;
}
}
.caja_uno{
background-image: url(../img/budismo.jpg);
background-repeat: no-repeat;
background-position: left;
background-size: cover;
color: $color-text;
text-shadow: $sombra-texto-dos;

//Propiedad del margin (Tamaño Externo)
margin: 0px 0px 2px 0px;
//Popiedad del Padding (Tamaño Interno)
padding: 90px;
//Propiedad Border (Tamaño del brode)
border: $borde-cuadro;
font-size: 20px;
}
.caja_uno:hover{
    border-radius: 20%;
}
.caja_dos{
background-image: url(../img/budismo1.jpg);
background-repeat: no-repeat;
background-position: left;
background-size: cover;
color: $color-text;
text-shadow: $sombra-texto-dos;
//propiedad del margin (Tamaño Externo)
margin: 0px 0px 2px 0px;
//Popiedad del Padding (Tamaño Interno)
padding: 90px;
//Propiedad Border (Tamaño del brode)
border: $borde-cuadro;
font-size: 20px;
}
.caja_dos:hover{
border-radius: 20%;
}
.caja_tres{
background-image: url(../img/budismo2.jpg);
background-repeat: no-repeat;
background-position: left;
background-size: cover;
color: $color-text;
text-shadow: $sombra-texto-dos;
//Propiedad del margin (TamaÃ±o Externo)
margin: 0px 0px 2px 0px;
// Popiedad del Padding (TamaÃ±o Interno)
padding: 90px;
// Propiedad Border (TamaÃ±o del brode)
border: $borde-cuadro;
font-size: 20px;
}
.caja_tres:hover{
border-radius: 20%;
}

//Propiedades del footer
.footer{
    padding-top: 10px;
    padding-bottom: 10px; 
    text-align: center;
    text-shadow: $sombra-texto-dos;  
    .derechos{
    font-size: medium;
    }
    .derechos2{
    font-size: x-small;
    }
    }
.cuerpo{
height: 3vh
}
/*Media queries*/
@media screen and (min-width:600px) {
.cuerpo{
height: 250vh;
display: grid;
grid-template-areas: "p_uno caja_uno" 
                    "p_dos caja_dos"
                    "p_tres caja_tres"
                    "footer footer";
column-gap: 5px;
justify-content: center; 
justify-items: center;
}
.caja_uno{
font-size: 25px;
}
.caja_dos{
font-size: 25px;
}
.caja_tres{
font-size: 25px;
}
}
.p_uno{
grid-area: p_uno;
display: flex;
justify-content: center;
align-items: center;
}
.p_dos{
grid-area: p_dos;
display: flex;
justify-content: center;
align-items: center;
}
.p_tres{
grid-area: p_tres;
display: flex;
justify-content: center;
align-items: center;
}
.caja_uno{
grid-area: caja_uno;
}
.caja_dos{
grid-area: caja_dos;
}
.caja_tres{
grid-area: caja_tres;
}
.producto{
grid-area: producto;
}
.producto_uno{
grid-area: producto_uno;
}
.producto_dos{
grid-area: producto_dos;
}
.producto_tres{
grid-area: producto_tres;
}
.footer{
grid-area: footer;
}
@media screen and (min-width:1024px) {
.cuerpo{
height: 70vh;
display: grid;
grid-template-areas: "p_uno p_dos p_tres"
                    "caja_uno caja_dos caja_tres" 
                    "footer footer footer";
column-gap: 3px;
justify-content: center; 
justify-items: center;
}
.caja_uno{
font-size: 35px;
}
.caja_dos{
font-size: 35px;
}
.caja_tres{
font-size: 35px;
}
}
.p_uno{
grid-area: p_uno;
}
.p_dos{
grid-area: p_dos;
}
.p_tres{
grid-area: p_tres;
}
.caja_uno{
grid-area: caja_uno;
}
.caja_dos{
grid-area: caja_dos;
}
.caja_tres{
grid-area: caja_tres;
}
.producto{
grid-area: producto;
}
.producto_uno{
grid-area: producto_uno;
}
.producto_dos{
grid-area: producto_dos;
}
.footer{
grid-area: footer;
}
    