//reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
//Importación de las variables
@import "utilities/variables";

//Caracteristias de imágen central
.bud{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}
body{
    background-color: $color-background;
    font-family: $fuente-familia;
    }
//Nesting en Titulo de la página
header{
    background-color: transparent;
    text-align: center;
}
h1,h2{
    color: $color-head;
    text-shadow: $sombra-texto;
    text-align: center;
    }
//Nesting en estilos de la Menu
header{
    position:relative;
    padding: 10px;
    .nav.bg-light{
    border-radius: 1rem;
    text-shadow: 0.2px 0.2px 0.2px black;
    justify-content: center;
    }
}
.navbar.navbar-expand-lg.bg-light{
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 2rem;
    text-shadow: $sombra-texto;
    z-index: 1;
    }
.table{
    background-color: rgb(187, 230, 117);
}
main{
    text-align: center;
}
//Nesting en el Footer
footer{
    padding-top: 10px;
    padding-bottom: 10px; 
    text-align: center;
    text-shadow: $sombra-texto-dos; 
    .derechos{
        font-size: smaller ;
    }
    .derechos2{
        font-size: small;
    }
    }
