//variables de color
$color-head: rgb(100, 95, 95);
$color-footer: #838586;
$color-parrafo: greenyellow;
$color-background: white;
$color-cuadro1: beige;
$color-cuadro2: rgb(248, 249, 250);
//variables de la fuente
$fuente-familia: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$color-text: whitesmoke;
$sombra-texto: 0.3px 0.3px 0.3px yellow;
$sombra-texto-dos: 0.8px 0.8px 0.8px black;
$sombra-texto-tres: 0.3px 0.3px 0.3px black;
//Borde
$borde-cuadro: 2px solid yellow;